	<div class="breadcrumb-section breadcrumb-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="breadcrumb-text">
						<p  style="font-family: Rockwell; font-size: 180%; color: antiquewhite;">The Beat-Alls Shop</p>
						<h1 style="font-family: Rockwell;" >Productos y Novedades 2024</h1>
					</div>
				</div>
			</div>
		</div>
	</div>