<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="loader">
        <div class="loader-inner">
            <div class="circle"></div>
        </div>
    </div>
	<div class="homepage-slider">
		<div class="single-homepage-slider homepage-bg-1">
			<div class="container">
				<div class="row">
					<div class="col-lg-10 offset-lg-1 text-center">
						<div class="hero-text">
							<div class="hero-text-tablecell">
								<h1 style="font-family: Rockwell">The Beat-Alls Shop</h1>
							<center>
								<img style="height: 25%; width: 25%;" src="/assets/images/LOGO5.png" alt="">
							</center>

								<div class="hero-btns">
									<a href="/registroClientes" class="boxed-btn">Regístrate para obtener una mejor experiencia</a>
									
								</div>
								
							</div>								
						</div>
					</div>
				</div>
			</div>		
		</div>
		<div class="single-homepage-slider homepage-bg-1">
			<div class="container">
				<div class="row">
					<div class="col-md-12 col-lg-7 offset-lg-1 offset-xl-0">
						<div class="hero-text">
							<div class="hero-text-tablecell">
								<p class="subtitle" >The Beat-Alls Shop</p>
								<h1 style="font-family: Rockwell;">Colecciones de temporada</h1>
								<div class="hero-btns">
									<a href="/registroClientes" class="boxed-btn">Regístrate para obtener una mejor experiencia</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="single-homepage-slider homepage-bg-2">
			<div class="container">
				<div class="row">
					<div class="col-lg-10 offset-lg-1 text-center">
						<div class="hero-text">
							<div class="hero-text-tablecell">
								<p class="subtitle">The Beat-Alls Shop</p>
								<h1 style="font-family: Rockwell;">Colecciones de diseñador</h1>
								<div class="hero-btns">
									<a href="/registroClientes" class="boxed-btn">Regístrate para obtener una mejor experiencia</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="single-homepage-slider homepage-bg-3">
			<div class="container">
				<div class="row">
					<div class="col-lg-10 offset-lg-1 text-right">
						<div class="hero-text">
							<div class="hero-text-tablecell">
								<p class="subtitle" style="font-size: 150%;">The Beat-Alls Shop</p>
								<h1>Super ventas flash ⚡</h1>
								<h1>Obtén descuentos por ser miembro destacado</h1>
								<div class="hero-btns">
									<a href="/registroClientes" class="boxed-btn">Regístrate para obtener una mejor experiencia</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>